<footer class="container">
  <div class="row">
    <p class="col-sm-4">&copy; 2022 Skillfair</p>
    <ul class="col-sm-8">
      <li class="col-sm-1">
        <img
          src="https://content.codecademy.com/projects/make-a-website/lesson-4/twitter.svg"
        />
      </li>
      <li class="col-sm-1">
        <img
          src="https://content.codecademy.com/projects/make-a-website/lesson-4/facebook.svg"
        />
      </li>
      <li class="col-sm-1">
        <img
          src="https://content.codecademy.com/projects/make-a-website/lesson-4/instagram.svg"
        />
      </li>
      <li class="col-sm-1">
        <img
          src="https://content.codecademy.com/projects/make-a-website/lesson-4/medium.svg"
        />
      </li>
    </ul>
  </div>
</footer>
