<section class="jumbotron">
  <div class="container">
    <div class="row text-center">
      <h2>Homemade Goods</h2>
      <h3>This Year's Best</h3>
      <a class="btn btn-primary" href="#" role="button">See all</a>
    </div>
  </div>
</section>

<section class="container">
  <div class="row">
    <figure class="col-sm-6">...</figure>
    <figure class="col-sm-6">...</figure>
  </div>
  <div class="row">
    <figure class="col-sm-6">
      <p>kitchen</p>
      <img
        src="https://content.codecademy.com/projects/make-a-website/lesson-4/kitchen.jpg"
        alt="Girl in a jacket"
      />

      <p>woodwork</p>
      <img
        src="https://content.codecademy.com/projects/make-a-website/lesson-4/kitchen.jpg"
        alt="Girl in a jacket"
      />
    </figure>
    <figure class="col-sm-6">
      <p>gifts</p>
      <img
        src="https://content.codecademy.com/projects/make-a-website/lesson-4/gifts.jpg"
        alt="Girl in a jacket"
      />

      <p>antiques</p>
      <img
        src="https://content.codecademy.com/projects/make-a-website/lesson-4/antique.jpg"
        alt="Girl in a jacket"
      />

      <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/Gred9eMIaLI"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </figure>
  </div>
</section>
